<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="AdvWorksOLAP" connectionString="provider=MSOLAP; data source=http://demos.devexpress.com/Services/OLAP/msmdpump.dll; initial catalog=Adventure Works DW Standard Edition; cube name=Adventure Works;"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
